*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, "sans-serif";
    background-color: #f3f3f3;
}
a{
    color: black;
    text-decoration: none;
    transition: .2s;
    cursor: pointer;
}
img{
    max-width: 100%;
}
a:hover{
    color:black;
}
.underline{
    text-decoration: underline;
}
div.content{
    min-width: 700px;
    max-width: 1100px;
    margin: 0 auto;
}
div.message{
    min-height: 10px;
    color:gray;
    text-align: center;
    font-size: 18pt;
    margin: 10px 0;
}

form p.error{
    color:red;
    padding: 0;
}
form p.center{
    text-align: center;
}
form fieldset{
    padding: 10px;
    background-color: white;
    margin: 0 auto;
    border:1px solid black;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    border-radius: 3px;
}
form fieldset legend{
    font-size: 18pt;
    text-align: center;
}
form.center{
    width: 600px;
    margin: 0 auto;
}
form div.part{
    display: flex;

}
form div.part input[type=text],
form div.part select{
    width: 69%;
}
form div.part input[type=button]{
    width: 30%;
    margin-left: 1%;
}
form input,form select, form textarea{
    height: 40px;
    border:1px solid black;
    font-family: Arial,"sans-serif";
    font-size: 14pt;
    padding-left: 5px;
    margin:10px 0;
    width: 100%;

}
form input[type=button],
form input[type=submit]{
    border:none;
    cursor: pointer;
    background-color: gray;
    color: white;
    transition: .2s;
}
form input[type=button]:hover,
form input[type=submit]:hover{
    background-color:#333 ;
}
form input[type=file]{
    border: none;
}
form textarea{
    min-height: 100px;
    padding: 5px;
}
header{
    height: 70px;
    background-color: white;
    padding: 15px 0;
    border-bottom:solid 3px gray;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
header div.head{
     display: flex;
    justify-content: space-between;
}
header nav{
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

header nav a{
    padding: 0 5px;
}
main{
    min-height: calc( 100vh - 200px );
}
main p{
    padding: 5px 0;
}
div.flex{
    display: flex;
}
div.wrap{
    margin:10px 0;
}
div.wrap,div.flex div.left,div.flex div.right{
    padding: 20px;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    background-color: white;
}
div.flex div.left{
    width: 69%;
}
div.flex div.right{
    width: 30%;
    margin-left: 1%;
}

div.flex div.point,div.wrap div.point{
    margin: 10px 0;

}
div.flex div.point h3,div.wrap div.point h3{
    margin-bottom: 5px;
}
form#game_add div.genres{
    display: flex;
    flex-wrap: wrap;
}
div.flex div.structure{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
}



form#game_add div.genres div.genre{
    cursor:pointer;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #666;
    color: white;
    transition: .2s;
}
form#game_add div.genres div.genre:hover{
    background-color: #333;
}
div.games div.game,
div.developers div.developer{
    padding: 10px;
    width: 24%;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin: 10px 0;
    text-align: center;
}
div.games,
div.developers{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.games div.game div.image{
    height: 280px;
}
div.games div.game div.title{
   text-align: center;
    padding: 10px;
}
div.games div.game div.title h3{
    margin: 0;
}
div.games div.game div.image img{
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
}

















footer{
    padding: 15px 0;
    height: 70px;
    background-color: white;
    border-top: solid 3px gray;
    margin-top: 30px;
}
